

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

input, select {
    width: 100%;
    padding: .625em;
    margin: 0 0 .625em 0;
    border: 1px solid #aaa;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.header {
    padding: .625em;
    background: #5185a8;
}

    .header h1 {
        margin: 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.25em;
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

#main, .demo-wrapper {
    padding: 1em;
    width:30%;
}

button {
    display: inline-block;
    text-decoration: none;
    padding: 0.8em 2.6em;
    margin: 20px 10px 0 0;
    outline: 0;
    border: 0;
    overflow: visible;
    cursor: pointer;
    color: #fff;
    background: #5185a8;
    font-family: Arial, sans-serif, verdana;
    font-size: 14px;
    font-weight: 100;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}

    button:hover {
        background: #34566d;
    }

input {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
    font-family: Arial, sans-serif,verdana;
    text-shadow: none;
    color: #000;
    font-size: 15px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.demo-iframe {
    padding: 10px 10px 10px 10px;
    text-shadow: none;
}
    /* Demo page styling END */
    /*************************/

    /* Basic usage demo styling */
    .demo-iframe.demo-stars {
        padding: 0;
    }

.demo-stars .md-products {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
}

    .demo-stars .md-products li {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        background: #f0f0f0;
        border-bottom: 1px solid #b1b1b1;
        border-top: 1px solid #fff;
    }

        .demo-stars .md-products li h3 {
            margin: 5px 0;
            font-weight: normal;
        }

        .demo-stars .md-products li p {
            margin: 5px 0;
            color: #717171;
        }

        .demo-stars .md-products li .md-product {
            height: 50px;
            padding: 5px 65px 5px 60px;
            color: #333;
            text-align: left;
            text-decoration: none;
            cursor: pointer;
        }

        .demo-stars .md-products li .md-active {
            background: #ddd;
        }

        .demo-stars .md-products li .md-rate {
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
            height: 60px;
            text-align: right;
        }

        .demo-stars .md-products li .md-rating {
            padding-right: 10px;
            font-size: 17px;
            line-height: 60px;
        }

    .demo-stars .md-products img {
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 60px;
        border: 0;
    }

@media (max-width: 960px) {
    .demo-cont-c .demo-iframe.demo-stars {
        padding: 0;
    }

    .demo-cont-c .demo-phone-c .demo-phone {
        margin: 0 -20px 40px;
    }
}

/* Image Only demo styling */
.dw-ul .dw-li .mbsc-img-w {
    text-align: center;
}

/* Basic usage demo styling */
.md-color {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-indent: 40px;
    color: #000;
    border: 1px solid #000;
    background: #ff0000;
    margin: 5px 0;
    white-space: nowrap;
}

.demo-display-inline .md-color {
    display: block;
    width: auto;
    height: auto;
    text-indent: 0;
    margin: 0;
    border: 0;
    background: none !important;
}

    .demo-display-inline .md-color .dw-inline {
        text-align: left;
    }

/* Two inputs demo styling */
.demo-display-inline .demo-twoinputs input,
.demo-display-inline .demo-twoinputs label,
.demo-display-inline .demo-twoinputs br {
    display: none;
}

/* Create, remove, update demo styling */
.demo-comp-listview .mbsc-lv-fixed-header-ctx {
    text-shadow: none;
}

.demo-comp-listview .demo-iframe {
    padding: 0;
}

.demo-comp-listview .demo-note {
    margin: 10px;
}

.md-demo-note {
    cursor: pointer;
}

.md-wo-list {
    line-height: 30px;
    text-shadow: none;
}

    .md-wo-list li {
        line-height: normal;
    }

.md-wo-status {
    font-size: 10px;
    -webkit-backface-visibility: hidden;
}

.md-wo-empty {
    padding: 10px;
}

/* Sort handle demo styling */
.demo-comp-listview .mbsc-lv-fixed-header-ctx {
    text-shadow: none;
}

.demo-comp-listview .demo-iframe {
    padding: 0;
}

.demo-comp-listview .demo-note {
    margin: 10px;
}

.demo-sorthandle ul {
    font-size: 16px;
}

/* Action menu demo styling */
.demo-comp-listview .mbsc-lv-fixed-header-ctx {
    text-shadow: none;
}

.demo-comp-listview .demo-iframe {
    padding: 0;
}

.demo-comp-listview .demo-note {
    margin: 10px;
}

.demo-actionmenu ul {
    font-size: 18px;
}

.demo-notification {
    position: absolute;
    width: 100%;
    z-index: 100001;
    left: 0;
    bottom: 20px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    transition: opacity 200ms;
}

.demo-notification-fixed {
    position: fixed;
}

.demo-notification-i {
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 20px;
    text-shadow: none;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    border-radius: 3px;
    padding: 5px;
}

.demo-notification-v {
    opacity: 1;
}

/* Custom Icons demo styling */
/*.dw-rating .dw-li .mbsc-rating-icon { color: rgb(230,19,0); }*/

/* Tab menu demo styling */
.demo-comp-menustrip #demombscr {
    position: static;
}

.demo-comp-menustrip .demo-iframe {
    padding: 0;
    min-height: 300px;
}

.demo-comp-menustrip .demo-phone-np .demo-phone {
    margin: 0 -20px -20px -20px;
}

.md-tab-h {
    display: none;
}

.md-tab-sel {
    display: block;
}

.md-app-ic {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -12px;
    font-size: 20px;
    line-height: 24px;
}

.md-app-detail {
    display: block;
    overflow: hidden;
}

.md-app-size {
    font-size: 10px;
    display: block;
    opacity: .6;
    float: left;
}

.md-app-date {
    font-size: 10px;
    display: block;
    opacity: .6;
    float: right;
}

.md-apps-ul li.mbsc-lv-item {
    padding-left: 50px;
}

.demo-display-top .md-apps-ul {
    padding-top: 47px;
}

.demo-display-top .mbsc-lv-android .md-apps-ul {
    padding-top: 34px;
}

.demo-display-top .mbsc-lv-android-holo .md-apps-ul {
    padding-top: 45px;
}

.demo-display-top .mbsc-lv-bootstrap .md-apps-ul {
    padding-top: 36px;
}

.demo-display-top .mbsc-lv-ios .md-apps-ul {
    padding-top: 42px;
}

.demo-display-top .mbsc-lv-ios-classic .md-apps-ul {
    padding-top: 38px;
}

.demo-display-top .mbsc-lv-jqm .md-apps-ul {
    padding-top: 33px;
}

.demo-display-top .mbsc-lv-sense-ui .md-apps-ul {
    padding-top: 39px;
}

.demo-display-top .mbsc-lv-sense .md-apps-ul {
    padding-top: 39px;
}

.demo-display-top .mbsc-lv-wp .md-apps-ul {
    padding-top: 75px;
}

.demo-display-bottom .demo-iframe.demo-tabs {
    padding-bottom: 75px;
}

/* Dialog demo styling */
.md-text-center {
    text-align: center;
}

.md-dialog {
    width: 260px;
    margin: 0 auto;
}

/* Alert message demo styling */
.md-body {
    max-width: 280px;
    margin: 0 auto;
}

/* Progress demo styling */
.demo-comp-forms .md-demo .mbsc-progress-cont {
    padding: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.demo-comp-forms .md-upload.mbsc-progress,
.demo-comp-forms .md-demo.mbsc-progress {
    overflow: hidden;
}

.demo-comp-forms .md-demo .mbsc-progress-step-label {
    overflow: visible;
}

.demo-comp-forms .mbsc-wp .mbsc-progress {
    height: 2.25em;
}

.demo-comp-forms .md-upload .mbsc-progress-cont {
    padding-right: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
